@import './base.css';
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #505C7C;
}

h1 {
    margin: 0;
}