@import './base.css';

/* html { 
	background: url(../assets/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} */

body {
	padding-top: 3.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient( 300deg, var(--color-dark) 50%, transparent 200%); */
	background-color: var(--color-dark);
}

h1 {
	margin: 0;
}

:root {
	--color-card: #303030;
	--color-dark: #1a1a1a;
	--color-dark-bat: #242424;
	--color-yellow-bat: #fdff00;
	--color-shadow-yellow-bat: #988829;
}

.clignote {
  animation: clignote 3s linear infinite;
}
@keyframes clignote {
  10% { opacity:0.1; }
  12% { opacity:1; }
  14% { opacity:0.2; }
  18% { opacity:1; }
  20% { opacity:0.2; }
  22% { opacity:1; }
  100% { opacity:1; }
}

.content {
	margin-inline: 1rem !important;
	padding: 2rem;
	padding-inline: 7rem;
	gap: 2rem;

	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.card {
	border: 1px solid var(--color-yellow-bat);
	border-radius: 8px;
	background-color: var(--color-card);
	box-shadow: .5rem .3rem 0 var(--color-yellow-bat)
}
.card:hover {
	border-color: var(--color-shadow-yellow-bat);
	box-shadow: .5rem .3rem 0 var(--color-shadow-yellow-bat)
}
.column {
	flex-direction: column;
}

.label {
	position: absolute;
	left: 0;
	top: 0;
	padding-inline: 5px;
	margin-top: -15px;
	margin-left: 5px;

	color: white;
	background: var(--color-card);
}
.input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 10px;

	color: white;
	background: transparent;

	border: 2px solid;

	border-color: var(--color-yellow-bat);
	border-radius: 4px;
	outline: none;
}
.input:hover {
	border-color: var(--color-shadow-yellow-bat);
}
.btn {
	padding: 10px;

	color: white;

	border: 2px solid;
	border-color: var(--color-yellow-bat);
	background-color: transparent;
	border-radius: 4px;
	outline: none;
	cursor:pointer;
	}
.btn:hover {
	color: var(--color-yellow-bat);
	border-color: var(--color-shadow-yellow-bat);
}
.btn:active {
	box-shadow: rgba(254, 254, 254, 0.2) 0px 2px 4px 0px inset;
	transform: translateY(2px);
}
.btn-red {
	padding: 10px;

	color: white;

	border: 2px solid;
	border-color: red;
	background-color: transparent;
	border-radius: 4px;
	outline: none;
	cursor:pointer;
}
.btn-red:hover {
	color: red;
	border-color: darkred;
}
.btn-red:active {
	box-shadow: rgba(254, 254, 254, 0.2) 0px 2px 4px 0px inset;
	transform: translateY(2px);
}
.white-text {
	color: white;
}
.card-error {
	margin-top: 1rem;
	width: 100%;
}
.error {
	color:red;
	overflow-inline: none;
}
.icon {
  width: 1.7rem;
}
@media (max-width: 35em) {
  .content {
		margin-inline: 1rem !important;
		padding: 2rem;
		padding-inline: 3rem;
	}
}